2024/data/result/
2024/data/testData/
2024/data/weightedmean/
2024/mann-whitney/testFiles/
2025/mann-whitney/testFiles/
2025/data/result/
2025/data/testData/
2025/data/weightedmean/result/
2025/data/weightedmean/testData/
final/testdata/

